.review-inputbox {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3cbc8d;
  color: white;
  font-weight: 700;
}
.style-add-review {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.review-inputbox::placeholder {
  color: white;
  font-weight: 700;
}

.review-inputbox-big {
  font-weight: 700;
}

.review-inputbox-big::placeholder {
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .mobile-flex-column {
    flex-direction: column !important;
  }
  .service-detail-main {
    width: 100%;
  }
}
